server:
  port: 7001
eureka:
  instance:
    hostname: eureka7001.com #eureka实例名称

  client:
    register-with-eureka: false #不向注册中心注册自己
    fetch-registry: false        #false表示自己就是注册中心，我的职责就是维护服务实例,并不区检索服务
    service-url:
#单机版指向自己
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/
#       集群指向其他eureka
#       defaultZone: http://eureka7002.com:7002/eureka/

#自我保护机制
  server:
    enable-self-preservation: false
    eviction-interval-timer-in-ms: 2000


